/* ----------------------------------

Name: main.css
Version: 1.0

-------------------------------------

Table of contents
        
    01. Navbar
    02. Header
    03. Boxes
    04. Trial
    05. About
    06. Footer
    07. Media Query
*/

body {
    font-family: 'Roboto', sans-serif;
}

/*--------------------------------------------------
[1. Start Navbar]
--------------------------------------------------*/
/*--- btn default --*/
.btn-brand {
    background: #ffff;
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    border-radius: 35px;
    padding: 10px 35px;
    color: #50545f;
    font-weight: 500;
    transition: all .3s ease-in-out;
}
.btn-brand:hover {
	color: #fff;
	background-color: #08b072;
	border-color: #08b072;
}
.btn-brand.focus, .btn-brand:focus {
	color: #fff;
	background-color: #08b072;
	border-color: #08b072;
	box-shadow: none;
}
/*----------------- Headers ---------------------------------*/
.header-classic {
	background-color: #fafbfe;
	transition: all .3s ease-in-out;
}
.header-classic:hover {
	background: #ffffff;
}

.navbar-classic.navbar-light .navbar-nav .nav-link {
    font-size: 15px;
    font-weight: 300;
    color: #6e6e78;

	padding: 12px 16px;
}
.navbar-classic .navbar-nav .nav-item .nav-link {
	font-size: 15px;
    font-weight: 400;
    color: #6e6e78;
	padding: 12px 20px;
    line-height: 20px;
    transition: ALL .4S ease-in-out;
}
.navbar-classic .navbar-nav .nav-item .nav-link:hover {
	color: #4dd4bf;
}
.navbar-classic .navbar-nav .nav-item .nav-link:hover.dropdown-toggle::after {
	color: #4dd4bf;
}
.navbar-classic.navbar {
	padding: 18px 0px;
}
.navbar-classic .dropdown-toggle::after {
	margin-top: 1px;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 6px;
	vertical-align: -2px;
	content: "\f107";
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	color: #bdbebf;
	font-family: 'Font Awesome\ 5 Free';
	font-weight: 900;
	margin-right: 15px;
	font-size: 13px;
}
.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu .dropdown-item {
	border-bottom: 1px solid #f1f1f6;
	border-radius: 0px;
}
a.navbar-brand {
	display: inline-block;
	margin-right: initial;
	line-height: inherit;
	white-space: nowrap;
	color:#6e6e78;
    font-size:24px;
    padding: 0;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 16rem;
	padding: 12px;
	margin: 18px 0px;
	font-size: 1rem;
	color: #808294;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 2px;
	-webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
	box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
}
.dropdown-item {
	display: block;
	width: 100%;
	padding: 15px 15px;
	clear: both;
	font-weight: 400;
	color: #6e6e78;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	font-size: 15px;
    line-height: 15px;
    transition: all .3s ease-in-out;
}
.dropdown-item:focus, .dropdown-item:hover {
	color: #4dd4bf;
	text-decoration: none;
	background-color: #ffff;
	border-radius: 4px;
}
.dropdown-item:focus .dropdown-toggle::after, .dropdown-item:hover.dropdown-toggle::after {
	color: #4dd4bf;
}
@media(min-width:992px) {
	.dropdown .dropdown-menu {
		display: block;
		visibility: hidden;
		opacity: 0;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
		-webkit-transition: all .3s ease-in;
		-o-transition: all .3s ease-in;
		transition: all .3s ease-in 
}
	.dropdown:hover>.dropdown-menu {
		visibility: visible;
		opacity: 1;
		-webkit-transform: scaleY(1);
		-ms-transform: scaleY(1);
		transform: scaleY(1);
		opacity: 1;
		visibility: visible;
	}
	.dropdown-submenu:hover .dropdown-menu {
		visibility: visible;
		opacity: 1;
		-webkit-transform: scaleY(1);
		-ms-transform: scaleY(1);
		transform: scaleY(1);
		opacity: 1;
		visibility: visible;
	}
}
.dropdown-submenu {
	position: relative;
}
.dropdown-submenu a::after {
	transform: rotate(-90deg);
	position: absolute;
	right: 17px;
	top: 25px;
}
.dropdown-submenu .dropdown-menu {
	top: 0px;
	left: 100%;
	margin-left: 13px;
	margin-right: .1rem;
}
.caret-up {
	width: 0;
	height: 0;
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-bottom: 4px solid;
	display: inline-block;
	margin-left: 2px;
	vertical-align: middle;
}
.mega-dropdown {
	position: unset;
}
.mega-dropdown-menu {
	width: 100%;
	position: absolute;
	top: 63px;
	margin: 15px 0px;
}
.mega-dropdown-menu ul {
	list-style: none;
}
.nav-dropitem-arrow {
	position: relative;
	font-size: 12px;
	opacity: 0;
	padding-right: 10px;
}
.nav-dropitem-arrow i {
	position: absolute;
	/* top: -1px;
	*/
}
.dropdown-item:focus, .dropdown-item:hover {
	color: #4dd4bf;
	text-decoration: none;
	background-color: #ffff;
	border-radius: 4px;
}
.dropdown-item:hover .nav-dropitem-arrow {
	color: #4dd4bf;
	opacity: 1;
	margin-right: 5px;
}
.navbar-classic .navbar-toggler, .navbar-boxed .navbar-toggler {
	padding: 17px 15px;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid #eaeaf0;
	border-radius: .25rem;
	position: relative;
}
/* mobile menu css */
.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu {
	background: #fff;
	box-shadow: none;
	margin: 7px 0px;
}
.navbar-classic .navbar-collapse.show .navbar-nav .nav-item .nav-link {
	border-bottom: 1px solid #f1f1f6;
}
.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item {
	border-bottom: 1px solid #f1f1f6;
}
.navbar-boxed .navbar-collapse.show .dropdown .dropdown-menu {
	background: #fff;
	box-shadow: none;
	margin: 7px 0px;
}
.navbar-boxed .navbar-collapse.show .navbar-nav .nav-item .nav-link {
	border-bottom: 1px solid #f1f1f6;
}
.navbar-boxed .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item {
	border-bottom: 1px solid #f1f1f6;
}
.navbar-transparent .navbar-collapse.show .dropdown .dropdown-menu {
	background: #fff;
	box-shadow: none;
	margin: 7px 0px;
}
.navbar-transparent .navbar-collapse.show .navbar-nav .nav-item .nav-link {
	border-bottom: 1px solid #4dd4bf;
}
.navbar-transparent .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item {
	border-bottom: 1px solid #f1f1f6;
}
.icon-bar {
	width: 21px;
	height: 3px;
	background-color: #4dd4bf;
	display: block;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	margin-top: 4px 
}
.navbar-toggler:focus {
	outline: 0px;
}
.navbar-toggler .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 190%;
	background-color: #4dd4bf;
}
.navbar-toggler .middle-bar {
	opacity: 0;
}
.navbar-toggler .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% -80%;
	background-color: #4dd4bf;
}
.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
	background-color: #4dd4bf;
}
.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
	background-color: #4dd4bf;
}


/*--------------------------------------------------
[2. Start Header]
--------------------------------------------------*/
.header {
    padding: 200px 0;
    padding-bottom: 120px;
    background: url(../img/bg/header.png) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header h2 {
    font-size: 30px;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
    color: #ffffff;
	font-family: 'Poppins', sans-serif;

}
/*--------------------------------------------------
[3. Start Boxes]
--------------------------------------------------*/
.boxes {
	padding: 120px 0;
	padding-bottom: 90px;
}
.boxes .box {
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    background: #ffffff;
    padding: 40px 40px;
	border-radius: 5px;
	margin-bottom: 30px;
}
.boxes .box h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: #333447;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
.boxes .box p {
    font-size: 16px;
    font-weight: 400;
    color: #8c8e91;
    margin: 0;
    line-height: 28px;
}

/*--------------------------------------------------
[4. Start Trial]
--------------------------------------------------*/
.trial {
	background: #4dd4bf;
	padding: 120px 0;
	color: #ffffff;
}
.trial span {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	display: inline-block;
	margin-bottom: 5px;
}
.trial h2 {
	font-size: 30px;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

.trial .btn-white {
	background: #ffff;
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    border-radius: 35px;
    padding: 12px 35px;
    color: #50545f;
	font-weight: 500;
	font-size: 15px;
	display: inline-block;
	transition: all .3s ease-in-out;
	text-decoration: none;
	margin-top: 35px;
}

/*--------------------------------------------------
[5. Start About]
--------------------------------------------------*/
.about {
    padding: 120px 0;
    background: url('../img/bg/about.png') center center no-repeat;
    background-size: cover;
}
.about .text {
    padding-left: 40px;
}
.about .text .fe {
    font-size: 16px;
    font-weight: 400;
    color: #c0c0c9;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 3px;
}
.about .text h2 {
    font-size: 35px;
    color: #333448;
    font-weight: 700;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}
.about .text p {
    font-size: 16px;
    font-weight: 400;
    color: #8c8e91;
    margin: 0;
    line-height: 28px;
    margin-bottom: 25px;
}
.about .text span.dark {
    font-size: 18px;
    font-weight: 400;
    color: #393f47;
}
.about .text .btn-line {
    background: #0cbb7f;
    border: 2px solid #0cbb7f;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 9px 30px;
    border-radius: 100px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    transition: all .3s ease-in-out;
}
.about .text .btn-line:hover {
    background: #ffffff;
    color: #0cbb7f;
}

/*--------------------------------------------------
[6. Start Footer]
--------------------------------------------------*/
.footer {
    padding: 120px 0;
    padding-bottom: 104px;
    background: #f5fdfa;
}
.footer .who p {
    font-size: 15px;
    font-weight: 400;
    color: #8c8e91;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 5px;
    display: inline-block;
}
.footer .who span {
    display: block;
    color: #282828;
    font-size: 16px;
    margin: 0;
    margin-top: 20px;
}
.footer .links h3 {
    font-size: 20px;
    font-weight: 500;
    color: #131313;
    margin: 0;
    margin-bottom: 20px;
}
.footer .links ul {
    padding: 0;
}
.footer .links ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}
.footer .links ul li a {
    font-size: 16px;
    font-weight: 400;
    color: #8c8e91;
    text-decoration: none;
    display: inline-block;
    transition: all .3s ease-in-out;
}
.footer .links ul li a:hover {
    color: #00a99d;
}
.footer .social h3 {
    font-size: 20px;
    font-weight: 500;
    color: #131313;
    margin: 0;
    margin-bottom: 20px;
}
.footer .social .icon {
    display: inline-block;
    position: relative;
    border: 1px solid #00a99d;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 5px;
    transition: all .3s ease-in-out;
}
.footer .social .icon:hover {
    background: #00a99d;
}
.footer .social .icon:hover a {
    color: #ffffff;
}
.footer .social .icon a {
    display: inline-block;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #00a99d;
}
.bottom {
    padding: 20px 0;
    text-align: center;
}
.bottom h3 {
    font-size: 16px;
    font-weight: 400;
    color: #6b6c6d;
    margin: 0;
    padding: 0;
}


/*--------------------------------------------------
[7. Start Media Query]
--------------------------------------------------*/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .header-classic {
		background-color: #fff;
		padding: 15px;
	}
    .navbar .nav-link {
        margin: 0 !important;
        padding: 20px 0 !important;
	}
	.btn-brand {
        display: inline-block;
        margin-top: 30px;
	}
	.header {
		padding-top: 240px;
	}
	.boxes {
		padding-bottom: 90px;
	}
	.boxes .box {
		margin-bottom: 30px;
	}
	
    .about {
        text-align: center;
	}
	.about img {
		margin: 0 auto;
	}
    .about .text {
        padding: 0;
    }
    .about .image {
        margin-top: 50px;
    }
    .footer {
        text-align: center;
    }
    .footer .who {
        margin-bottom: 30px;
    }
    .footer .links {
        margin-bottom: 30px;
    }

}

@media (max-width: 767.98px) { 
    .header-classic {
		background-color: #fff;
		padding: 15px;
	}
    .navbar .nav-link {
        margin: 0 !important;
        padding: 20px 0 !important;
	}
	.btn-brand {
        display: inline-block;
        margin-top: 30px;
	}
	.header {
		padding-top: 240px;
	}
	.boxes {
		padding-bottom: 90px;
	}
	.boxes .box {
		margin-bottom: 30px;
	}
	
    .about {
        text-align: center;
	}
	.about img {
		margin: 0 auto;
	}
    .about .text {
        padding: 0;
    }
    .about .image {
        margin-top: 50px;
    }
    .footer {
        text-align: center;
    }
    .footer .who {
        margin-bottom: 30px;
    }
    .footer .links {
        margin-bottom: 30px;
    }
 }

 @media (max-width: 991.98px) {
    .header-classic {
		background-color: #fff;
		padding: 15px;
	}
    .navbar .nav-link {
        margin: 0 !important;
        padding: 20px 0 !important;
	}
	.btn-brand {
        display: inline-block;
        margin-top: 30px;
	}
	.header {
		padding-top: 240px;
	}
	.about img {
		margin: 0 auto;
	}
	.boxes {
		padding-bottom: 90px;
	}
	.boxes .box {
		margin-bottom: 30px;
	}
	
    .about {
        text-align: center;
    }
    .about .text {
        padding: 0;
    }
    .about .image {
        margin-top: 50px;
    }
    .footer .social .icon {
        width: 35px;
        height: 35px;
    }
    .footer .social .icon a {
        font-size: 14px;
    }
 }

 @media (max-width: 1199.98px) {
    .testimonials .images {
        width: 100%;
    }
 }